{% extends 'base.html' %}
{% load static %}

{% block page_title %}Biodata{% endblock %}
{% block page_title %}📜 Biodata Santri{% endblock %}
{% block subtitle %}Informasi Pejuang Ilmu{% endblock %}

{% block content %}


<section class="bio-card">
    <div class="bio-img">
        <img src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e" alt="santri">
    </div>

    <div class="bio-info">
        <h3>Data Pribadi Santri</h3>
        <p><b>Nama:</b> Abdul Hakim</p>
        <p><b>Kelas:</b>10 SMA</p>
        <p><b>Tempat, Tanggal Lahir:</b> Yogyakarta, 8 Mei 2010</p>
        <p><b>Alamat:</b> Asrama HSI Boarding School</p>
        <p><b>Cita-cita:</b> Public Speaker & Penulis</p>
        <p><b>Hobi:</b> Menulis, Desain, Membaca, Bela diri</p>
        <p><b>Motto:</b> "Ilmu adalah pedang, adab adalah sarungnya."</p>
    </div>
</section>

{% endblock %}