{% extends 'base.html' %}

{% block title %}Jadwal{% endblock %}
{% block page_title %}🗓️ Jadwal Kegiatan{% endblock %}
{% block subtitle %}Rutinitas Digital Samurai{% endblock %}

{% block content %}



<h3>Jadwal Harian Santri</h3>

<table>
    <tr>
        <th>Waktu</th>
        <th>Kegiatan</th>
    </tr>
    <tr>
        <td>03:30</td>
        <td>Qiyamul Lail & Persiapan Subuh</td>
    </tr>
    <tr>
        <td>05:00</td>
        <td>Halaqah Qur'an</td>
    </tr>
    <tr>
        <td>07:00</td>
        <td>Pembelajaran Formal</td>
    </tr>
    <tr>
        <td>13:00</td>
        <td>Istirahat & Dzuhur</td>
    </tr>
    <tr>
        <td>15:30</td>
        <td>Kelas IT / Programming</td>
    </tr>
    <tr>
        <td>19:00</td>
        <td>Muraja'ah & Kajian Malam</td>
    </tr>
</table>

{% endblock %}